/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    // position: relative;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    transition: all .5s ease;
    background: #f4f7fa;
    
    
    }


